@charset "UTF-8";
/*
0 - 400px           Narrow Phones
400px - 600px       Phone
600 - 900px         Tablet Portrait
900 - 1200px        Tablet landscape
1200 - 1800px       Desktop (default styles)
1800px+             Big Desktop 

Breakpoint argument choices
- narrow-phone
- Phone
- tab-port
- tab-land
- big-desktop

ORDER Base + Typography > general layout + grid page layout > components
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #A0522D;
  color: #fff;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  margin-bottom: 3rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.heading-primary--main {
  display: Block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  animation: moveInLeft 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 0.6rem;
  }
}
@media only screen and (max-width: 25em) {
  .heading-primary--main {
    font-size: 3rem;
    letter-spacing: 0.8rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}
@media only screen and (max-width: 25em) {
  .heading-primary--sub {
    font-size: 1.8rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #A0522D;
  transition: all 0.2s;
}
@supports (-webkit-background-clip: text) {
  .heading-secondary {
    background-image: linear-gradient(to right, #A0522D, #A96342);
    -webkit-background-clip: text;
    color: transparent;
  }
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.center-text {
  text-align: center !important;
}

.margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-bottom-big {
    margin-bottom: 4rem !important;
  }
}

.margin-top-small {
  margin-top: 1.5rem !important;
}

.margin-top-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-top-medium {
    margin-top: 3rem !important;
  }
}

.margin-top-big {
  margin-top: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-top-big {
    margin-top: 4rem !important;
  }
}

.margin-top-huge {
  margin-top: 10rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-top-huge {
    margin-top: 6rem !important;
  }
}

.margin-left-small {
  margin-top: 1.5rem !important;
}

.margin-left-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-left-medium {
    margin-top: 3rem !important;
  }
}

.margin-left-big {
  margin-top: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-left-big {
    margin-top: 4rem !important;
  }
}

.margin-left-huge {
  margin-top: 10rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-left-huge {
    margin-top: 6rem !important;
  }
}

.margin-right-small {
  margin-right: 1.5rem !important;
}

.margin-right-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-right-medium {
    margin-top: 3rem !important;
  }
}

.margin-right-big {
  margin-top: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-right-big {
    margin-top: 4rem !important;
  }
}

.margin-right-huge {
  margin-top: 10rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-right-huge {
    margin-top: 6rem !important;
  }
}

.padding-top-small {
  padding-top: 1.5rem !important;
}

.margin-top-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-top-medium {
    margin-top: 3rem !important;
  }
}

.margin-top-big {
  margin-top: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-top-big {
    margin-top: 4rem !important;
  }
}

.margin-top-huge {
  margin-top: 10rem !important;
}
@media only screen and (max-width: 56.25em) {
  .margin-top-huge {
    margin-top: 6rem !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:focus, .btn:active {
  outline: none;
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--brown {
  background-color: #A0522D;
  color: #f7f7f7;
}
.btn--brown::after {
  background-color: #A0522D;
}
.btn::after {
  content: "";
  display: inline-blaok;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: block;
  padding: 3px;
  color: #A0522D;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #A0522D;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 65%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  position: absolute;
  outline-offset: 0.2rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.33333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 100;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p3 {
    top: -1rem;
    left: 0;
    transform: scale(1.2);
  }
}
.composition__photo:hover {
  outline: 0.5rem solid #A0522D;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  height: 40rem;
  border-radius: 0.3rem;
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: #A0522D;
}
@media only screen and (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.05);
}

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  background-color: orangered;
  font-size: 2rem;
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  background-color: green;
  transform: rotateY(180deg);
}
.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #5142a9, #372890);
}
.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #A96342, #904928);
}
.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #42a95f, #289046);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
@supports (background-blend-mode: screen) {
  .card__picture {
    background-blend-mode: screen;
  }
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, rgba(81, 66, 169, 0.8), rgba(55, 40, 144, 0.8)), url(../img/beer-4.jpg);
}
@supports (background-blend-mode: screen) {
  .card__picture--1 {
    background-image: linear-gradient(to right bottom, #5142a9, #372890), url(../img/beer-4.jpg);
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--1 {
    background-image: linear-gradient(to right bottom, #5142a9, #372890), url(../img/beer-4-large.jpg);
  }
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, rgba(169, 99, 66, 0.8), rgba(144, 73, 40, 0.8)), url(../img/beer-5.jpg);
}
@supports (background-blend-mode: screen) {
  .card__picture--2 {
    background-image: linear-gradient(to right bottom, #A96342, #904928), url(../img/beer-5.jpg);
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--2 {
    background-image: linear-gradient(to right bottom, #A96342, #904928), url(../img/beer-5-large.jpg);
  }
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, rgba(66, 169, 95, 0.8), rgba(40, 144, 70, 0.8)), url(../img/beer-6.jpg);
}
@supports (background-blend-mode: screen) {
  .card__picture--3 {
    background-image: linear-gradient(to right bottom, #42a95f, #289046), url(../img/beer-6.jpg);
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--3 {
    background-image: linear-gradient(to right bottom, #42a95f, #289046), url(../img/beer-6-large.jpg);
  }
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
@media only screen and (max-width: 75em) {
  .card__heading {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card__heading {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 25em) {
  .card__heading {
    font-size: 1.8rem;
  }
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(81, 66, 169, 0.85), rgba(55, 40, 144, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(169, 99, 66, 0.85), rgba(144, 73, 40, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(66, 169, 95, 0.85), rgba(40, 144, 70, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3rem;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 2rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .story {
    transform: skewX(0);
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .story__shape {
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-1rem) skewX(0);
  }
}
@media only screen and (max-width: 25em) {
  .story__shape {
    float: none;
    margin: 0 auto;
  }
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
}
@media only screen and (max-width: 25em) {
  .story__heading {
    margin-top: 1rem;
  }
}
.story__text {
  transform: skewX(12deg);
}
@media only screen and (max-width: 37.5em) {
  .story__text {
    transform: skewX(0);
  }
}
@media only screen and (max-width: 25em) {
  .story__text h3 {
    font-size: 1.2rem;
  }
}
.story__caption {
  position: absolute;
  top: 40%;
  left: 10%;
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  opacity: 1;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}
.story__caption--review-1 {
  top: 50%;
  left: 20%;
}
.story__caption--brewmaster-1 {
  left: 20%;
}
.story__caption--brewmaster-2 {
  left: 5%;
}
.story__caption--brewmaster-3 {
  left: 2%;
}
.story__caption--guide-1 {
  top: 60%;
  left: 15%;
}
.story__caption--guide-2 {
  top: 70%;
  left: 25%;
}
.story__caption--guide-3 {
  top: 65%;
  left: 10%;
}
.story__caption--brewery-1 {
  top: 40%;
  left: 15%;
}
.story__caption--brewery-2 {
  top: 30%;
  left: 5%;
}
@media only screen and (hover: hover) {
  .story__caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s;
  }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  .story img {
    transition: all 0.5s;
  }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #A0522D;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #372890;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #A0522D;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A0522D;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .bg-video__content {
    object-position: center center;
  }
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.4s 0.2s;
}
.popup__left {
  width: 33.333333%;
  float: left;
  display: table-cell;
}
@media only screen and (max-width: 56.25em) {
  .popup__left {
    width: 100%;
    display: table-row;
  }
}
.popup__right {
  width: 66.666667%;
  float: right;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media only screen and (max-width: 56.25em) {
  .popup__right {
    width: 100%;
    display: table-row;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .popup__img {
    display: inline;
    width: auto;
    height: 17rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__img {
    height: 10rem;
  }
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .popup__text {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    max-height: 40rem;
    overflow-y: scroll;
  }
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}
.popup__close:hover {
  color: #A0522D;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.row {
  max-width: 140rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 75rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
  padding: 1rem;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-2 {
  width: calc((100% - 8rem) / 2);
}
.row .col-1-3 {
  width: calc((100% - 2 * 8rem) / 3);
}
.row .col-2-3 {
  width: calc(2 * ((100% - 2 * 8rem) / 3) + 8rem);
}
.row .col-1-4 {
  width: calc((100% - 3 * 8rem) / 4);
}
.row .col-2-4 {
  width: calc(2 * ((100% - 3 * 8rem) /4) + 8rem);
}
.row .col-3-4 {
  width: calc(3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem);
}
.row .col-1-5 {
  width: calc((100% - 4 * 8rem) / 5);
}
.row .col-2-5 {
  width: calc(2 * ((100% - 4 * 8rem) / 5) + 8rem);
}
.row .col-3-5 {
  width: calc(3 * ((100% - 4 * 8rem) / 5) + 2 * 8rem);
}
.row .col-4-5 {
  width: calc(4 * ((100% - 4 * 8rem) / 5) + 3 * 8rem);
}
.row .col-1-6 {
  width: calc((100% - 5 * 8rem) / 6);
}
.row .col-2-6 {
  width: calc(2 * ((100% - 5 * 8rem) / 6) + 8rem);
}
.row .col-3-6 {
  width: calc(3 * ((100% - 5 * 8rem) / 6) + 2 * 8rem);
}
.row .col-4-6 {
  width: calc(4 * ((100% - 5 * 8rem) / 6) + 3 * 8rem);
}
.row .col-5-6 {
  width: calc(5 * ((100% - 5 * 8rem) / 6) + 4 * 8rem);
}

.flex-row {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
}
.flex-row:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .flex-row:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .flex-row {
    max-width: 75rem;
    padding: 0 3rem;
  }
}
.flex-row [class^=flex-col] {
  padding: 1rem;
}
.flex-row [class^=flex-col]:not(:last-child) {
  margin-right: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .flex-row [class^=flex-col]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .flex-row [class^=flex-col] {
    flex-basis: 100% !important;
  }
}
.flex-row .flex-col-1-2 {
  flex-basis: calc((100% - 8rem) / 2);
}
.flex-row .flex-col-1-3 {
  flex-basis: calc((100% - 2 * 8rem) / 3);
}
.flex-row .flex-col-2-3 {
  flex-basis: calc(2 * ((100% - 2 * 8rem) / 3) + 8rem);
}
.flex-row .flex-col-1-4 {
  flex-basis: calc((100% - 3 * 8rem) / 4);
}
.flex-row .flex-col-2-4 {
  flex-basis: calc(2 * ((100% - 3 * 8rem) /4) + 8rem);
}
.flex-row .flex-col-3-4 {
  flex-basis: calc(3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem);
}
.flex-row .flex-col-1-5 {
  flex-basis: calc((100% - 4 * 8rem) / 5);
}
.flex-row .flex-col-2-5 {
  flex-basis: calc(2 * ((100% - 4 * 8rem) / 5) + 8rem);
}
.flex-row .flex-col-3-5 {
  flex-basis: calc(3 * ((100% - 4 * 8rem) / 5) + 2 * 8rem);
}
.flex-row .flex-col-4-5 {
  flex-basis: calc(4 * ((100% - 4 * 8rem) / 5) + 3 * 8rem);
}
.flex-row .flex-col-1-6 {
  flex-basis: calc((100% - 5 * 8rem) / 6);
}
.flex-row .flex-col-2-6 {
  flex-basis: calc(2 * ((100% - 5 * 8rem) / 6) + 8rem);
}
.flex-row .flex-col-3-6 {
  flex-basis: calc(3 * ((100% - 5 * 8rem) / 6) + 2 * 8rem);
}
.flex-row .flex-col-4-6 {
  flex-basis: calc(4 * ((100% - 5 * 8rem) / 6) + 3 * 8rem);
}
.flex-row .flex-col-5-6 {
  flex-basis: calc(5 * ((100% - 5 * 8rem) / 6) + 4 * 8rem);
}

.header {
  background-size: cover;
  position: relative;
}
.header--home {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/Craft-Beer.jpg);
  background-position: bottom center;
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header--home {
    background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/Craft-Beer-large.jpg);
  }
}
@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
  .header--home {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
}
@media only screen and (max-width: 37.5em) {
  .header--home {
    height: 75vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  }
}
.header--subpage {
  height: 45vh;
}
.header--subpage-about {
  background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/beer-4.jpg);
  background-position: bottom center;
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header--subpage-about {
    background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/beer-4-large.jpg);
  }
}
.header--subpage-profile {
  background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/draft-system.jpg);
  background-position: center center;
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header--subpage-profile {
    background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/draft-system-large.jpg);
  }
}
.header--subpage-tours {
  background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/beer-3.jpg);
  background-position: center center;
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header--subpage-tours {
    background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/beer-3-large.jpg);
  }
}
.header--subpage-placeholder {
  background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/beer-7.jpg);
  background-position: center top;
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header--subpage-placeholder {
    background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url(../img/beer-7-large.jpg);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 15rem;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .header__text-box {
    top: 60%;
    font-size: 1.4rem;
  }
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#A96342, #904928);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.6s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #A0522D;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon:before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon:after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg);
}

.subpage-navigation__list {
  list-style: none;
}
.subpage-navigation__item {
  margin: 1rem;
}
.subpage-navigation__link:link, .subpage-navigation__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #A0522D;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #A0522D 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.subpage-navigation__link:hover, .subpage-navigation__link:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem);
}

ul.breadcrumb {
  padding: 1rem 1.6rem;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 1.8rem;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
}

.footer {
  background-color: #333;
  color: #f7f7f7;
  padding: 2rem 0;
  font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 2rem;
  }
}
.footer__logo {
  width: 30rem;
  height: auto;
}
@media only screen and (max-width: 37.5em) {
  .footer__logo {
    width: 30rem;
  }
}
.footer__navigation {
  border-top: 1px solid #999;
  padding: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__copyright {
  border-top: 1px solid #999;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  background-color: #333;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:active {
  color: #A0522D;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.3);
}
.footer__link--small:hover {
  color: #777;
  text-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.4);
  box-shadow: none;
  transform: scale(1);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem;
  margin-top: -20vh;
}
@media only screen and (max-width: 75em) {
  .section-about {
    padding: 20rem 0;
  }
}
@media only screen and (max-width: 25em) {
  .section-about {
    padding-top: 25rem;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url("../img/draft-system.jpg");
  background-size: cover;
  background-position: bottom;
  transform: skewY(-7deg);
  margin-top: -12rem;
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .section-features {
    background-image: linear-gradient(to right bottom, rgba(160, 82, 45, 0.8), rgba(169, 99, 66, 0.8)), url("../img/draft-system-large.jpg");
  }
}
@media only screen and (max-width: 56.25em) {
  .section-features {
    padding: 15rem 0;
  }
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;
}
@media only screen and (max-width: 56.25em) {
  .section-tours {
    padding: 15rem 0 5rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #A96342, #904928);
}
@media only screen and (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/beer-7-large.jpg);
  background-size: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/beer-7.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/beer-7.jpg);
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.subpage-section {
  background-color: #f7f7f7;
  padding: 6rem 0;
  position: relative;
}

.about-section-item {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.6rem;
  padding: 6rem;
  font-size: 1.6rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .about-section-item {
    width: 100%;
  }
}
.about-section-item__image {
  position: relative;
  float: left;
  margin: 2rem;
}
.about-section-item__image--right {
  float: right;
}
.about-section-item__image img {
  width: 100%;
  border-radius: 0.6rem;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 75em) {
  .about-section-item__image {
    float: none;
  }
  .about-section-item__image img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.tour-items {
  padding: 10rem 0 15rem 0;
  background-color: #f7f7f7;
}
@media only screen and (max-width: 56.25em) {
  .tour-items {
    padding: 15rem 0 5rem 0;
  }
}

.tour-card {
  position: relative;
  height: auto;
  border-radius: 3rem;
  bckground-color: #fff;
  perspective: 150rem;
  -moz-perspective: 150rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.tour-card__side {
  position: relative;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 0.3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tour-card__side--top {
  background-color: #fff;
}
.tour-card__side--bottom {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.tour-card__side--bottom--1 {
  background-image: linear-gradient(to right bottom, #5142a9, #372890);
}
.tour-card__side--bottom--2 {
  background-image: linear-gradient(to right bottom, #A96342, #904928);
}
.tour-card__side--bottom--3 {
  background-image: linear-gradient(to right bottom, #42a95f, #289046);
}
.tour-card__picture {
  height: 23rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
@supports (background-blend-mode: screen) {
  .tour-card__picture {
    background-blend-mode: screen;
  }
}
.tour-card__picture--1 {
  background-image: linear-gradient(to right bottom, rgba(81, 66, 169, 0.8), rgba(55, 40, 144, 0.8)), url(../img/beer-4.jpg);
}
@supports (background-blend-mode: screen) {
  .tour-card__picture--1 {
    background-image: linear-gradient(to right bottom, #5142a9, #372890), url(../img/beer-4.jpg);
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .tour-card__picture--1 {
    background-image: linear-gradient(to right bottom, #5142a9, #372890), url(../img/beer-4-large.jpg);
  }
}
.tour-card__picture--2 {
  background-image: linear-gradient(to right bottom, rgba(169, 99, 66, 0.8), rgba(144, 73, 40, 0.8)), url(../img/beer-5.jpg);
}
@supports (background-blend-mode: screen) {
  .tour-card__picture--2 {
    background-image: linear-gradient(to right bottom, #A96342, #904928), url(../img/beer-5.jpg);
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .tour-card__picture--2 {
    background-image: linear-gradient(to right bottom, #A96342, #904928), url(../img/beer-5-large.jpg);
  }
}
.tour-card__picture--3 {
  background-image: linear-gradient(to right bottom, rgba(66, 169, 95, 0.8), rgba(40, 144, 70, 0.8)), url(../img/beer-6.jpg);
}
@supports (background-blend-mode: screen) {
  .tour-card__picture--3 {
    background-image: linear-gradient(to right bottom, #42a95f, #289046), url(../img/beer-6.jpg);
  }
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .tour-card__picture--3 {
    background-image: linear-gradient(to right bottom, #42a95f, #289046), url(../img/beer-6-large.jpg);
  }
}
.tour-card__heading {
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}
@media only screen and (max-width: 75em) {
  .tour-card__heading {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .tour-card__heading {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 25em) {
  .tour-card__heading {
    font-size: 1.8rem;
  }
}
.tour-card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.tour-card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(81, 66, 169, 0.85), rgba(55, 40, 144, 0.85));
}
.tour-card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(169, 99, 66, 0.85), rgba(144, 73, 40, 0.85));
}
.tour-card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(66, 169, 95, 0.85), rgba(40, 144, 70, 0.85));
}
.tour-card__details {
  padding: 1rem 3rem;
}
.tour-card__details ul {
  width: 80%;
  margin: 0 auto;
  list-style: none;
}
.tour-card__details ul li {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.tour-card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.tour-card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 7rem 4rem 4rem 4rem;
}
.tour-card__price-box {
  position: relative;
  top: 20rem;
  margin-bottom: 8rem;
  text-align: center;
  color: #fff;
}
.tour-card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.tour-card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.placeholder__btn-box {
  display: block;
  margin-top: 4rem;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .placeholder__btn-box {
    top: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
